{% extends 'layout.html' %}

{% block title %}Forestry Pest And Disease Guide{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Forestry Pest and Disease Guide</h2>
    {% if session['role_type'] == 'admin' or session['role_type'] == 'staff' %}
    <div class="my-2">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewEntryModal">
            Add New Entry
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewEntryModal" tabindex="-1" aria-labelledby="addNewEntryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewEntryModalLabel">Add New Forestry Pest/Disease Guide Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addNewEntryForm" enctype="multipart/form-data" action="{{url_for('staff_add_forestry')}}"
                          method="post">
                        <div class="form-group">
                            <label for="itemType">ItemType</label>
                            <select class="form-control" id="itemType" name="item_type">
                                <option value="1">Pest</option>
                                <option value="2">Disease</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="presentInNZ">Present_In_NZ</label>
                            <select class="form-control" id="presentInNZ" name="present_in_NZ">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="commonName">CommonName</label>
                            <input type="text" class="form-control" id="commonName" name="common_name" required>
                        </div>
                        <div class="form-group">
                            <label for="scientificName">ScientificName</label>
                            <input type="text" class="form-control" id="scientificName" name="scientific_name" required>
                        </div>
                        <div class="form-group">
                            <label for="keyCharacteristics">KeyCharacteristics</label>
                            <textarea class="form-control" id="keyCharacteristics" name="key_characteristics"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="biologyDescription">Biology/Description</label>
                            <textarea class="form-control" id="biologyDescription" name="biology_description"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="symptoms">Symptoms</label>
                            <textarea class="form-control" id="symptoms" name="symptoms" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="primaryImage">PrimaryImage</label>
                            <input type="file" class="form-control-file" id="primaryImage" name="primary_image"
                                   lang="en"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="otherImages">OtherImages</label>
                            <input type="file" class="form-control-file" id="otherImages" name="other_images" lang="en" multiple>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitNewEntry()">Submit</button>
                </div>
            </div>
        </div>
    </div>


    {% endif %}

    <div class="row">
        {% for item in forestry_guides %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if item.image_data %}
                <img src="data:image/jpeg;base64,{{ item.image_data }}" class="card-img-top"
                     alt="{{ item.common_name }}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.common_name }} ({{ item.scientific_name }})</h5>
                    <p class="card-text">
                        {% if item.present_in_NZ %}
                        IN NZ
                        {% else %}
                        NOT IN NZ
                        {% endif %}
                    </p>
                    <a href="{{ url_for('details', forestry_id=item.forestry_id) }}" class="btn btn-primary">View
                        Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
        window.submitNewEntry = function() {
        var itemType = $('#itemType').val().trim();
        var presentInNZ = $('#presentInNZ').val().trim();
        var commonName = $('#commonName').val().trim();
        var scientificName = $('#scientificName').val().trim();
        var keyCharacteristics = $('#keyCharacteristics').val().trim();
        var biologyDescription = $('#biologyDescription').val().trim();
        var symptoms = $('#symptoms').val().trim();
        var primaryImage = $('#primaryImage').val().trim();

        if (!commonName || !scientificName || !primaryImage) {
        alert('Please fill all the required fields.');
        return false;
    }

        $('#addNewEntryForm').submit();
    }
        });
</script>

{% endblock %}
